<!DOCTYPE HTML>
<html>
      <head>
	      <meta charset="UTF-8"/>
		  <meta name="viewport" content="width=device-width, initial-scale=1">
		  <title>RPi AP Traveler</title>

		  <link rel="icon" href="{{ url_for('static', filename='images/icon.png')}}">
          <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}">
		  <script src="{{ url_for('static', filename='js/bootstrap.js')}}"></script>
		  <script src="{{ url_for('static', filename='js/jquery-3.6.0.js')}}"></script>
	  </head>
	<body>
		<style>
				a{
					text-decoration: none;
					color: #000;
					}
        </style>
		<!-- Navbar -->
		<nav class="navbar navbar-expand-lg navbar-light bg-light static-top shadow">
			<div class="container-fluid">
			  <a class="navbar-brand" href="/">Dashboard</a>
			  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
				  <li class="nav-item">
					<a class="nav-link" href="/wifi">WiFi Client</a>
				  </li>
			  <li class="nav-item">
					<a class="nav-link" href="#">MITMProxy</a>
				  </li>
				</ul>
			  </div>
			</div>
	  </nav>

      <div class="py-5 text-center">
        <h2>Wi-Fi Settings</h2>
        <p class="lead">Here you can manage your networks.</p>
		<p>
			<a href="/wifi/scan" class="btn btn-primary my-2">Scan</a>
			<a href="/wifi/reset_configuration" class="btn btn-danger my-2">Reset Network Configuration</a>
		</p>	
      </div>
	    <div class="container py-5">
	  	<div class="container">
		<table class="table table-striped">
			   <thead>
			   <tr>
				   <th scope="col">Configured Network</th>
				   <th scope="col"></th>
			   </tr>
			</thead>
			   <tbody>
			   <tr>
				   <td>{{ connected_network.ssid }}</td>
				   <td></td>
			   </tr>
			   </tbody>  
	   </table>
	   </div>
	  <div class="container">
      <table class="table table-striped">
			<thead>
			<tr>
				<th scope="col">Available Networks</th>
				<th scope="col"></th>
			</tr>
			</thead>
			{% for network in available_networks %}
			<tbody>
			<tr>
					<td style="width:100%;">
						<a href="/wifi/password_request_{{network.ssid}}">{{ network.ssid }}  [{{ network.mac }}]</a>
				    </td>
				<td style="width:100%;"><img src="{{ url_for('static', filename=network.signal_pic) }}" width="24" height="24"></td>
			</tr>
			</tbody>
			{% endfor %}
	  </table>
	  </div>
	  </div>
	<!--Footer-->
    <footer class="my-5 pt-3 text-muted text-center text-small">
        <p class="mb-1">RPiAP</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Back to top</a></li>
        </ul>
    </footer>
	<script src="{{ url_for('static', filename='js/popper.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js')}}"></script>
    <script src="{{ url_for('static', filename='js/holder.min.js')}}"></script>
  </body>
</html>


