<!DOCTYPE HTML>
<html>
      <head>
	      <meta charset="UTF-8"/>
		  <meta name="viewport" content="width=device-width, initial-scale=1">
		  <title>Altairika Fulldome Player</title>

		  <link rel="icon" href="{{ url_for('static', filename='images/icon.png')}}">
          <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}">
		  <script src="{{ url_for('static', filename='js/bootstrap.js')}}"></script>
		  <script src="{{ url_for('static', filename='js/jquery-3.6.0.js')}}"></script>
	  </head>
	<body>
		<style>
				a{
					text-decoration: none;
					color: #000;
					}
        </style>
		<!-- Navbar -->
		<nav class="navbar navbar-expand-lg navbar-light bg-light static-top shadow">
			<div class="container-fluid">
			  <a class="navbar-brand" href="/">RPi AP Traveler</a>
			  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
				  <li class="nav-item">
					<a class="nav-link" href="/wifi">WiFi Client</a>
				  </li>
			  <li class="nav-item">
					<a class="nav-link" href="#">VPN Settings</a>
				  </li>
				</ul>
			  </div>
			</div>
	  </nav>

      <div class="py-5 text-center">
        <h2>Wi-Fi Settings</h2>
        <p class="lead">Here you can manage your networks.</p>
      </div>
	    <div class="container py-5">
	  	<div class="container">
		<table class="table table-striped">
			   <thead>
			   <tr>
				   <th scope="col">Current Network</th>
				   <th scope="col"></th>
			   </tr>
			</thead>
			{% for line in current_networks %}
			   <tbody>
			   <tr>
				   <td>{{ line['ssid'] }}</td>
				   <td></td>
			   </tr>
			   </tbody>
			{% endfor %}   
	   </table>
	   </div>
	   <div class="container">
	   <table class="table table-striped">
			  <thead>
			  <tr>
				  <th scope="col">My Networks</th>
				  <th scope="col"></th>
			  </tr>
			  </thead>
			  {% for line in configured_networks %}
			  <tbody>
			  <tr>
				  <td style="width:100%;">{{ line['ssid'] }}</td>
				  <td style="width:100%;"><a href="/wifi/remove_network_{{line['ssid']}}"><img src="{{ url_for('static', filename='images/trash.png') }}" width="24" height="24"></a></td>
			  </tr>
			  </tbody>
			  {% endfor %}
	  </table>
	  </div>
	  <div class="container">
      <table class="table table-striped">
			<thead>
			<tr>
				<th scope="col">Other Networks</th>
				<th scope="col"></th>
			</tr>
			</thead>
			{% for line in available_networks %}
			<tbody>
			<tr>
					<td style="width:100%;">
						<a href="/wifi/password_request_{{line['ssid']}}">{{ line['ssid'] }}</a>
				    </td>
				<td style="width:100%;"><img src="{{ url_for('static', filename=line['signal_picture']) }}" width="24" height="24"></td>
			</tr>
			</tbody>
			{% endfor %}
	  </table>
	  </div>
	  </div>
	<!--Footer-->
    <footer class="my-5 pt-3 text-muted text-center text-small">
        <p class="mb-1">Altairika Fulldome Player</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Back to top</a></li>
        </ul>
    </footer>
	<script src="{{ url_for('static', filename='js/popper.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js')}}"></script>
    <script src="{{ url_for('static', filename='js/holder.min.js')}}"></script>
  </body>
</html>


